.btn {
  font-family: var(--font-primary);
  transition: all 0.2s;
  width: 100%;
  padding: 10px 20px;
  font-size: 1rem;
  background: var(--btnBlueLight);
  text-transform: none;
  color: var(--bright);
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  border: none;
}

.btn:hover {
  background: var(--btnBlue);
  color: var(--txtLightGrey);
  font-weight: bold;
}

.btn.bright {
  background-color: var(--bright);
  color: var(--dark);
}

.btn.error {
  background-color: var(--ko);
}

.btn.error:hover {
  color: var(--bright);
}

.btn[disabled] {
  opacity: 0.5;
  background: var(--secondary);
  color: var(--bright);
  font-size: 1rem !important;
  transition: none;
  font-weight: normal;
  outline: none;
  border: none;
}

/* Header buttons */
.h-btn-1 {
  font-family: var(--font-primary);
  font-size: var(--font-sm);
  transition: all 0.2s;
  color: var(--bright);
  margin: 10px;
  padding: 5px;
  background: var(--btnGreen);
  text-transform: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  border: none;
}

.h-btn-1:hover {
  background: var(--btnGreenMedium);
  color: var(--txtBlackMedium);
}

.h-btn-2 {
  font-family: var(--font-primary);
  font-size: var(--font-sm);
  transition: all 0.2s;
  color: var(--bright);
  margin: 10px;
  padding: 5px;
  background: var(--btnBlueLight);
  text-transform: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  border: none;
}

.h-btn-2:hover {
  background: var(--btnBlue);
  color: var(--txtLightGrey);
}

.h-btn-3 {
  font-family: var(--font-primary);
  font-size: var(--font-sm);
  transition: all 0.2s;
  color: var(--font-primary);
  margin: 10px;
  padding: 5px;
  background: var(--btnlightGrey);
  text-transform: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  border: none;
}

.h-btn-3:hover {
  background: var(--btnBlueGrey);
  color: var(--txtLightGrey);
  /* font-weight: bold; */
}

.h-btn-4 {
  font-family: var(--font-primary);
  font-size: var(--font-sm);
  transition: all 0.2s;
  color: var(--bright);
  margin: 10px;
  padding: 5px;
  background: var(--btnBlueGrey);
  text-transform: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  border: none;
}

.h-btn-4:hover {
  background: var(--btnDarkBlue);
  color: var(--txtLightGrey);
}

.h-btn-search {
  font-family: var(--font-primary);
  font-size: var(--font-sm);
  transition: all 0.2s;
  color: var(--bright);
  margin: 10px;
  padding: 5px;
  background: var(--btnBlueGrey);
  text-transform: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  height: 60px;
  border: none;
}

.h-btn-search:hover {
  background: var(--btnDarkBlue);
  color: var(--txtLightGrey);
}

/* Dashboard buttons */
.dashboard-btn {
  font-family: var(--font-primary);
  transition: all 0.2s;
  width: 90%;
  font-size: 1rem;
  background: var(--btnBlueGrey);
  text-transform: none;
  color: var(--bright);
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  margin-top: 20px;
  border: none;
  width: 100%;
}

.dashboard-btn a {
  color: var(--txtLightGrey);
}

.dashboard-btn:hover {
  background: var(--btnDarkBlue);
  color: var(--txtLightGrey);
  font-weight: bold;
}

.dashboard-btn:hover a {
  color: var(--txtLightGrey);
}

.dashboard-table-btn {
  font-family: var(--font-primary);
  font-size: var(--font-sm);
  transition: all 0.2s;
  color: var(--bright);
  padding: 5px;
  background: var(--btnBlueGrey);
  text-transform: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.dashboard-table-btn a {
  color: var(--txtLightGrey);
}

.dashboard-table-btn:hover {
  background: var(--btnDarkBlue);
  color: var(--txtLightGrey);
}

.dashboard-table-btn:hover a {
  color: var(--txtLightGrey);
}

/* CONCURSO */
.participar-button {
  font-family: var(--font-primary);
  font-size: var(--font-sm);
  transition: all 0.2s;
  color: var(--bright);

  background: var(--btnBlueLight);
  text-transform: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;

  border: none;
  width: 100%;
  height: 60px;
  margin-top: 5px;
}
.participar-button:hover {
  background: var(--btnBlue);
  color: var(--txtLightGrey);
  font-weight: bold;
}

.duda-button {
  font-family: var(--font-primary);
  font-size: var(--font-sm);
  transition: all 0.2s;
  color: var(--bright);

  background: var(--btnBlueGrey);
  text-transform: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;

  border: none;
  width: 100%;
  height: 60px;
  margin-top: 30px;
}
.duda-button:hover {
  background: var(--btnDarkBlue);
  color: var(--txtLightGrey);
  font-weight: bold;
}
