footer {
  overflow: hidden;
  height: 10vh;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: var(--BlueGrey);
  color: var(--primary);
  overflow: hidden;
  border-top: 4px solid var(--cGreen);
}

.footer {
  padding: 20px;
}

a.footer {
  color: var(--bright);
}

p.footer {
  color: var(--bright);
}

.redes-sociales a:not(:first-child) {
  margin-left: 15px;
}

.redes-sociales i {
  font-size: 32px;
  color: black;
}

.redes-sociales i:hover {
  color: var(--btnGreen);
}

@media only screen and (max-width: 999px) {
  footer {
    height: auto;
  }
}
