@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600&display=swap");

@import "./theme.css";
@import "./buttons.css";
@import "./forms.css";
@import "./utils.css";
@import "./header.css";
@import "./footer.css";
@import "./home.css";
@import "./latest-concursos.css";

/* PONER los estilos comunes */

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  font-family: var(--font-primary);
  height: auto;
  background-image: linear-gradient(
      to right,
      rgba(245, 247, 250, 0.9),
      rgba(237, 251, 246, 0.6)
    ),
    url("../img/background.jpg");
  background-color: linear-gradient(
    90deg,
    var(--lightGrey) 0%,
    var(--softGreen) 100%
  );
  color: var(--primary);
  line-height: 1.8em;
}

main {
}

.gutter-horizontal {
  cursor: ew-resize;
}

h1,
h3 {
  font-family: var(--font-primary);
  color: var(--textGreen);
  line-height: 3rem;
}

h2 {
  font-family: var(--font-primary);
  color: var(--primary);
  line-height: 3rem;
}

h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--primary);
  line-height: 1.5rem;
}

h1 {
  font-size: var(--font-xxl);
}

h2 {
  font-size: var(--font-xl);
}

h3 {
  font-size: var(--font-l);
}

h4 {
  font-size: var(--font-m);
}

h5 {
  font-size: var(--font-sm);
}

h6 {
  font-size: var(--font-xs);
}

p {
  font-size: var(--font-sm);
}

a {
  font-family: var(--font-primary);
  color: var(--txtBlueGrey);
  text-transform: none;
  text-decoration: none;
}

a:hover {
  color: var(--textGreen);
}

button:hover {
  color: var(--textGreen);
}

a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul > li {
  cursor: pointer;
}

.writingg-logo {
  color: var(--textGreen);
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bright);
}

.main-container {
  margin-top: 7rem;
  margin-left: 15vw;
  margin-right: 15vw;
  min-height: 80vh;
}

.concursos-content h1 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 999px) {
  .main-container {
    margin-top: 2rem;
    margin-left: 5vw;
    margin-right: 5vw;
    min-height: 90vh;
  }
}
